language: minimal
dist: xenial
cache:
  apt: true
  timeout: 1000 #In seconds
  directories:
    - $TRAVIS_BUILD_DIR/riscv

git:
  submodules: false
  depth: 1

env:
  - RISCV=$TRAVIS_BUILD_DIR/riscv PATH=$PATH:$RISCV/bin

addons:
  apt:
    packages:
    - autoconf
    - automake
    - autotools-dev
    - build-essential
    - gcc
    - git

branches:
  only:
    - keystone

before_install:
  - ./.fast-setup.sh

jobs:
  include:
    - stage: build everything & test
      script:
        - if [ -f riscv/qemu-riscv64 ]; then ls riscv; else ./.build-qemu.sh; fi
        - mkdir build
        - cd build
        - ../configure
          --enable-logo
          --host=riscv64-unknown-elf
          --enable-sm
        - make
        - cd $TRAVIS_BUILD_DIR
        - cd sm/tests
        - mkdir build
        - cd build
        - cmake ..; make
        - make test CTEST_OUTPUT_ON_FAILURE=TRUE
        - cd $TRAVIS_BUILD_DIR

